<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-2 justify-content-center">
        <div class="card p-2 align-content-center col-sm-8">
            <div class="card-title">
                <h2> Updating a patient</h2>
            </div>
            <div class="card-body">
                <div class="form-group m-2 mb-3">
                    <form th:action="@{/patients/add}" method="post">
                        <input type="hidden" class="form-control" name="page">
                        <div class="col-sm-6 mt-2">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="col-sm-6 mt-2">
                            <label for="score">Score</label>
                            <input type="number" class="form-control" id="score" name="score">
                        </div>
                        <div class="col-sm-6 mt-2">
                            <label for="birthDay">Birth Day</label>
                            <input type="date" class="form-control" id="birthDay" name="birthDay">
                        </div>
                        <div class="col-sm-6 mt-2">
                            <label for="sick">Sick</label>
                            <input type="checkbox" class="form-check-input" id="sick" name="sick">
                        </div>
                        <div class="col-sm-6 mt-2">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>